<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>

      <img src="http://geniusnationalschool.com/img/logos/logo.png" height="55" width="260"/>
    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <h6>Atendance Management</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-nav-list>
            <a mat-list-item routerLink="/complaint-calendar"><i class="material-icons icon-space">file_copy</i> Report </a>
            <a mat-list-item href="/access-logs"> <i class="material-icons icon-space">person_add</i>Access Logs </a>
         </mat-nav-list>
                                    
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6>Notifications</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="/notification-all"><i class="material-icons icon-space">person_add</i> All Students</a>
            <a mat-list-item routerLink="/notification-class"><i class="material-icons icon-space">person_add</i> Class</a>
            <a mat-list-item routerLink="/notification-personal"><i class="material-icons icon-space">person_add</i> Personal</a>
         </mat-nav-list>
      </mat-expansion-panel>


      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6>Homework</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="/register-client"><i class="material-icons icon-space">person_add</i> New</a>
         </mat-nav-list>
      </mat-expansion-panel>


      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
        <h6>School Album</h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item routerLink="/register-client"><i class="material-icons icon-space">person_add</i> Album</a>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
      <h6>Student Management</h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
  <mat-nav-list>
      <a mat-list-item routerLink="/register-client"><i class="material-icons icon-space">search</i> Search</a>
    </mat-nav-list>
  </mat-expansion-panel>

    </mat-accordion>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
