<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card fxFlex="33%">
      <mat-card-content fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center" class="class-mat-card">
        <mat-label class="font-size">300</mat-label>
      </mat-card-content>
      <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
        <p fxFlex="80%" fxLayoutAlign="center">Number of Students</p>
          <button mat-button>Details</button>
        </mat-card-actions>
    </mat-card>

  <mat-card fxFlex="33%">
      <mat-card-content fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center" class="class-mat-card">
        <mat-label class="font-size">100</mat-label>
      </mat-card-content>
      <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
        <p fxFlex="80%" fxLayoutAlign="center">Todays Attendance</p>
          <button mat-button>Details</button>
        </mat-card-actions>
    </mat-card>


    <mat-card fxFlex="33%">
        <mat-card-content fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center" class="class-mat-card">
          <mat-label class="font-size">12</mat-label>
        </mat-card-content>
        <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
          <p fxFlex="80%" fxLayoutAlign="center">AMCs Due</p>
            <button mat-button>Details</button>
          </mat-card-actions>
      </mat-card>
</div>
